.portfolios{
	padding-top: 1rem;
    margin-bottom: 8rem;
}

.portfolios h1 {
	font-size: 7rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
    margin-bottom: 8rem;
}

.portfolioGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.portfolioGrid p{
    background-color: #103d60;
    width: 100%;
    height: 7rem;
    text-align: center;
    line-height: 7rem;
    font-size: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.button{
    color: transparent
}

.link{
    transition: .5s;
}

.link:hover{
    transform: scale(1.05);
}