.quemsou{
    padding-top: 4rem;
}

.quemsouGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quemsouImg{
    max-width: 50%;
    margin-left: 5rem;
    position: relative;
}

.quemsouGrid h1{
    font-size: 7rem;
    line-height: 7rem;
}

.quemsouTexto{
    position: relative;
}

.quemsou1stChild{
    margin-left: 12rem;
}

.quemsou1stChild p{
    margin-left: 0.8rem;
    max-width: 22rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 300;
}


.quemsou1stChild label{
    position: absolute;
    bottom: 0px;
    right: 16rem;
    background-color:#449DDF;
    border-radius: 5px;
    border: none;
    padding: 4px 10px;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    transition: .25s;
}

.quemsou1stChild label:hover{
    transform: scale(1.1);
}

.quemsou1stChild label span {
    position: relative;
    z-index: 2;
}

.quemsou1stChild label::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color:#f1f1f1;
    bottom: 0px;
    right: 0rem;
    border-radius: 5px;
    transition: all .5s;
    opacity: 20%;
}

.quemsou1stChild label:hover::before{
    width: 100%;
    transform: scale(1.1);
    cursor: pointer;
}

.socialMedia{
    display: flex;
    max-width: 2.2rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.8rem;
}

.icon:not(:last-child) {
    margin-right: 2rem;
}

.icon{
    transition: .25s;
    width: 4rem;
    height: 4rem;
}

.icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#ch{
    display: none;
}

#ch:checked ~ .conteudoExtra{
    display: block;
}


.conteudoExtra{
    display: none;
}

#ch:checked ~ .quemsouTexto .curriculo {
    display: inline-block;
  }


.curriculo{
    position: absolute;
    top: -28rem;
    right: -29rem;
    width: 27vw;
    z-index: 10;
    /* display: none; */
}

#ch:checked ~ .quemsouImg img {
    display: none;
  }
